<!DOCTYPE HTML>
<html>
	<head>
		<title>Proyecto</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Proyecto MLOps</h1>
				<p>La idea es poner un resumen pero no se me ocurre nada<br />
				mis funcones <a href="https://machine-learning-operations-mlops-f1jx.onrender.com/docs">Funciones en docs</a>.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Ponga mi nota aqui XD" />
				<input type="submit" value="Enviar" />
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.linkedin.com/in/michael-martinez-8773ab143" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://github.com/bkmay1417" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:yam8991@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Contacto.</li><li>Credits: <a href="https://github.com/bkmay1417">Michael Martinez</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/main.js"></script>
			

	</body>
</html>
